<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/bookstore</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <property name="current_session_context_class">thread</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.CacheKeyImplementation</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>

        <mapping class="com.kk.bookstore.entity.BookEntity"/>
        <mapping class="com.kk.bookstore.entity.UserEntity"/>
        <mapping class="com.kk.bookstore.entity.UserAuthEntity"/>
        <mapping class="com.kk.bookstore.entity.OrderEntity" />
        <mapping class="com.kk.bookstore.entity.OrderItemEntity"/>
        <mapping class="com.kk.bookstore.entity.CartEntity"/>
    </session-factory>
</hibernate-configuration>